@import '../../../scss/index.scss';

.menu-top-web{
    position: sticky;
    top: 0;
    background-color: $background-dark-web;
    border: 0;
    display: flex;
    align-items: center;

    li{
        border: 0 !important;

        .ant-menu-active{
            color: $primary-color-light;
        }

        a{
            color: $primary-color !important;
            font-weight: bold;

            &:hover{
                color: $primary-color-light !important;
            }
        }
    }

    &__logo{
        padding: 2px;

        img{
            width: 200px;
        }

    }

    &__nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}