@import '../../../scss/index.scss';

.home-courses{
    margin-top: 50px;
    margin-bottom: 50px;

    &__title{
        text-align: center;
        
        h2{
            color: $font-light;
            font-weight: bold;
            size: 32px;
            text-transform: uppercase;
        }
    }
}