@import '../../../scss/index.scss';

.footer{
    background-color: $background-light ;
    border-top: 3px solid $border-grey-light;

    &__copyright{
        margin-top: 30px;

        .ant-col-md-12{
            color: $primary-color-dark;
            &:last-of-type {
                text-align: right;
            }
        }
    }

}