@import "../../../../scss/index.scss";

.courses-list{
    margin-bottom: 50px;

    &__course{
        .ant-card {
            width: 90%;
            border: 0;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.23);
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.23);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.23);
        }
    
        .ant-card-meta-title{
            color: $font-dark;
            font-weight: bold;
        }

        .ant-card-meta-description{
            color: $primary-color-dark;
            height: 110px;
        }
        
        button {
            width: 100%;
            margin-top: 30px;
            background-color: $primary-color-dark;
            color: $font-light;
            border: 0;
            font-weight: bold;
            font-size: 15px;
            height: 40px;
            text-transform: uppercase;
        }

    }
}