//Asi seleccionamos elementos anidados en app
/*
.app {
    h1{
        color: red;
        span{
            //Asi seleccionamos elementos anidados en el h1 que esta anidado en app
            color:blue;
            font-weight: 900;
        }
    }

    h2{
        color:green;
    }
}*/
@import "./scss/index.scss";

.success {
    border: 1px solid $success;
    background-color: $background-success;
}

.error {
    border: 1px solid $error;
    background-color: $background-error;
}